/* CSS for Quizzes2XBlock */

.quizzes2_block {
    padding: 16px;
    margin-top: 100px;
}

.questionText {
    font-size: 1.2rem;
}

.questionText span {
    font-size: 0.8rem;
}

.hr {
    content: ' ';
    width: 100%;
    height: 3px;
    background-color: #337AB7;
}

label.option {
    font-size: 0.9rem;
    box-sizing: border-box;
    display: inline-block;
    clear: both;
    margin-bottom: 10px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}

label:hover {
    border: 2px solid #009fe6;
}

.text-input {
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    width: 100%;
    color: #4c4c4c;
    outline: 0;
    background-color: #f2f2f2;
    font-size: 1.5rem;
    padding: 10px;
    box-sizing: border-box;
}

.check-input {
    margin-right: 4px;
}

.btn {
    padding: 6px 12px;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 1.5rem;
    font-size: 0.9rem;
}

.check-info {
    margin-left: 10px;
    display: inline-block;
    color: #aaa;
    font-size: 0.9rem;
}

.check-info span {
    color: #0448F5;
}

.answer {
    padding: 16px;
    overflow: auto;
    font-size: .75rem;
    line-height: 1.2;
    background-color: #f7f7f7;
    border-radius: 3px;
}

.btn-submit {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-submit:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-submiting {
    color: #fff;
    background-color: #799CBB;
    border-color: #799CBB;
}

.btn-submited {
    color: #fff;
    background-color: #799CBB;
    border-color: #799CBB;
}

.grade-info {
    float: right
}
